In [1]:
import pandas as pd

In [2]:
# Define file paths
excel_file_path = 'kolkata_cars.xlsx'
csv_file_path = 'kolkata_cars.csv'

# Read the Excel file
df = pd.read_excel(excel_file_path, sheet_name='kolkata_cars.csv')  # Adjust sheet_name as needed

# Save the DataFrame to a CSV file
df.to_csv(csv_file_path, index=False)  # Save without row index

In [80]:

df_bangalore = pd.read_csv('bangalore_cars.csv')
df_chennai = pd.read_csv('chennai_cars.csv')
df_delhi = pd.read_csv('delhi_cars.csv')
df_hyderabad = pd.read_csv('hyderabad_cars.csv')
df_jaipur = pd.read_csv('jaipur_cars.csv')
df_kolkata = pd.read_csv('kolkata_cars.csv')

In [4]:
import ast

nested_dict_list = [ast.literal_eval(d) for d in df_bangalore['new_car_overview']]

def extract_flatten_dict(nested_dict):
    if 'top' in nested_dict:
        top_data = nested_dict['top']
        df= pd.DataFrame(top_data)
        df= df.drop(columns=['icon'], errors= 'ignore')
        return df.set_index('key').T
    else:
        return pd.DataFrame()

df_list = [extract_flatten_dict(d) for d in nested_dict_list]

df_combined = pd.concat(df_list, ignore_index=True)

df_combined

key,Registration Year,Insurance Validity,Fuel Type,Seats,Kms Driven,RTO,Ownership,Engine Displacement,Transmission,Year of Manufacture
0,2015,Third Party insurance,Petrol,5 Seats,"1,20,000 Kms",KA51,Third Owner,998 cc,Manual,2015
1,Feb 2018,Comprehensive,Petrol,5 Seats,"32,706 Kms",KA05,Second Owner,1497 cc,Manual,2018
2,Sept 2018,Comprehensive,Petrol,5 Seats,"11,949 Kms",KA03,First Owner,1199 cc,Manual,2018
3,Dec 2014,Comprehensive,Petrol,5 Seats,"17,794 Kms",KA53,First Owner,1197 cc,Manual,2014
4,2015,Third Party insurance,Diesel,5 Seats,"60,000 Kms",KA04,First Owner,1248 cc,Manual,2015
...,...,...,...,...,...,...,...,...,...,...
1476,May 2012,Comprehensive,Diesel,7 Seats,"1,56,039 Kms",KA01,Second Owner,2982 cc,Manual,2012
1477,Jun 2008,Third Party insurance,Petrol,5 Seats,"56,000 Kms",KA02,Second Owner,1586 cc,Manual,2008
1478,Sept 2014,Comprehensive,Petrol,5 Seats,"42,000 Kms",KA03,Second Owner,1198 cc,Manual,2014
1479,Dec 2018,Comprehensive,Diesel,5 Seats,"93,003 Kms",KA03,First Owner,1396 cc,Manual,2018
1480,May 2017,Comprehensive,Petrol,5 Seats,"36,000 Kms",KA04,Second Owner,1197 cc,Automatic,2017

In [8]:
# new_car_overview column code

import pandas as pd
import ast

# Load the CSV file into a DataFrame
df_bangalore = pd.read_csv('bangalore_cars.csv')

# Function to extract and flatten the nested 'top' dictionary
def extract_flatten_dict(nested_dict):
    if 'top' in nested_dict:
        top_data = nested_dict['top']
        df = pd.DataFrame(top_data)
        df = df.drop(columns=['icon'], errors='ignore')
        return df.set_index('key').T
    else:
        return pd.DataFrame()

# Convert the 'new_car_overview' column from string to nested dictionaries
df_bangalore['new_car_overview'] = df_bangalore['new_car_overview'].apply(lambda x: ast.literal_eval(x))

# Extract and flatten the nested dictionaries
df_list = [extract_flatten_dict(d) for d in df_bangalore['new_car_overview']]

# Combine all the DataFrames into a single DataFrame
df_combined = pd.concat(df_list, ignore_index=True)

# Display the combined DataFrame
print(df_combined)

key  Registration Year     Insurance Validity Fuel Type    Seats  \
0                 2015  Third Party insurance    Petrol  5 Seats
1             Feb 2018          Comprehensive    Petrol  5 Seats
2            Sept 2018          Comprehensive    Petrol  5 Seats
3             Dec 2014          Comprehensive    Petrol  5 Seats
4                 2015  Third Party insurance    Diesel  5 Seats
...                ...                    ...       ...      ...
1476          May 2012          Comprehensive    Diesel  7 Seats
1477          Jun 2008  Third Party insurance    Petrol  5 Seats
1478         Sept 2014          Comprehensive    Petrol  5 Seats
1479          Dec 2018          Comprehensive    Diesel  5 Seats
1480          May 2017          Comprehensive    Petrol  5 Seats

key     Kms Driven   RTO     Ownership Engine Displacement Transmission  \
0     1,20,000 Kms  KA51   Third Owner              998 cc       Manual
1       32,706 Kms  KA05  Second Owner             1497 cc       Manual
2       11,949 Kms  KA03   First Owner             1199 cc       Manual
3       17,794 Kms  KA53   First Owner             1197 cc       Manual
4       60,000 Kms  KA04   First Owner             1248 cc       Manual
...            ...   ...           ...                 ...          ...
1476  1,56,039 Kms  KA01  Second Owner             2982 cc       Manual
1477    56,000 Kms  KA02  Second Owner             1586 cc       Manual
1478    42,000 Kms  KA03  Second Owner             1198 cc       Manual
1479    93,003 Kms  KA03   First Owner             1396 cc       Manual
1480    36,000 Kms  KA04  Second Owner             1197 cc    Automatic

key  Year of Manufacture
0                   2015
1                   2018
2                   2018
3                   2014
4                   2015
...                  ...
1476                2012
1477                2008
1478                2014
1479                2018
1480                2017

[1481 rows x 10 columns]

In [10]:
# new_car_feature column code

import pandas as pd
import ast

# Load the CSV file into a DataFrame
df_bangalore = pd.read_csv('bangalore_cars.csv')

# Function to flatten the nested 'top' and 'data' sections
def flatten_nested_data(nested_dict):
    # Flatten 'top' section
    top_df = pd.DataFrame(nested_dict.get('top', []))
    
    # Flatten 'data' section
    data_list = nested_dict.get('data', [])
    data_df_list = []
    for category in data_list:
        category_df = pd.DataFrame(category.get('list', []))
        category_df['heading'] = category.get('heading')
        category_df['subHeading'] = category.get('subHeading')
        data_df_list.append(category_df)
    
    data_df = pd.concat(data_df_list, ignore_index=True) if data_df_list else pd.DataFrame()
    
    # Add commonIcon
    common_icon = nested_dict.get('commonIcon', None)
    if not top_df.empty:
        top_df['commonIcon'] = common_icon
    if not data_df.empty:
        data_df['commonIcon'] = common_icon

    return top_df, data_df

# Convert the 'new_car_feature' column from string to nested dictionaries
df_bangalore['new_car_feature'] = df_bangalore['new_car_feature'].apply(lambda x: ast.literal_eval(x))

# Apply the flattening function to each row and collect results
top_dfs = []
data_dfs = []

for _, row in df_bangalore.iterrows():
    top_df, data_df = flatten_nested_data(row['new_car_feature'])
    top_dfs.append(top_df)
    data_dfs.append(data_df)

# Combine all the DataFrames
top_combined = pd.concat(top_dfs, ignore_index=True)
data_combined = pd.concat(data_dfs, ignore_index=True)

# Display the combined DataFrames
print("Top Combined DataFrame:")
print(top_combined)

print("\nData Combined DataFrame:")
print(data_combined)

Top Combined DataFrame:
                          value  \
0                Power Steering
1           Power Windows Front
2               Air Conditioner
3                        Heater
4        Adjustable Head Lights
...                         ...
13035    Adjustable Head Lights
13036          Fog Lights Front
13037  Anti Lock Braking System
13038          Centeral Locking
13039                 Cd Player

                                              commonIcon
0      https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg
1      https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg
2      https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg
3      https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg
4      https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg
...                                                  ...
13035  https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg
13036  https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg
13037  https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg
13038  https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg
13039  https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg

[13040 rows x 2 columns]

Data Combined DataFrame:
                        value                        heading     subHeading  \
0              Power Steering          Comfort & Convenience        Comfort
1         Power Windows Front          Comfort & Convenience        Comfort
2          Power Windows Rear          Comfort & Convenience        Comfort
3         Remote Trunk Opener          Comfort & Convenience        Comfort
4      Remote Fuel Lid Opener          Comfort & Convenience        Comfort
...                       ...                            ...            ...
99628          Speakers Front  Entertainment & Communication  Entertainment
99629           Speakers Rear  Entertainment & Communication  Entertainment
99630    Integrated2Din Audio  Entertainment & Communication  Entertainment
99631     Usb Auxiliary Input  Entertainment & Communication  Entertainment
99632               Bluetooth  Entertainment & Communication  Entertainment

                                              commonIcon
0      https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg
1      https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg
2      https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg
3      https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg
4      https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg
...                                                  ...
99628  https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg
99629  https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg
99630  https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg
99631  https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg
99632  https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg

[99633 rows x 4 columns]

In [23]:
# new_car_detail column code

import pandas as pd
import ast

# Load the CSV file into a DataFrame
df = pd.read_csv('bangalore_cars.csv')

# Display the columns to confirm the presence of 'new_car_detail'
print("Columns in the DataFrame:", df.columns)

# Fetch the 'new_car_detail' column only
new_car_detail_column = df['new_car_detail']

# Convert the 'new_car_detail' column from string to nested dictionaries if needed
def convert_to_dict(value):
    try:
        return ast.literal_eval(value)
    except (ValueError, SyntaxError):
        return {}

# Apply conversion function to the 'new_car_detail' column
new_car_detail_dicts = new_car_detail_column.apply(convert_to_dict)

# Function to flatten a dictionary
def flatten_dict(d):
    flattened = {}
    for k, v in d.items():
        if isinstance(v, dict):
            for sub_k, sub_v in flatten_dict(v).items():
                flattened[f"{k}_{sub_k}"] = sub_v
        else:
            flattened[k] = v
    return flattened

# Flatten each dictionary and convert to DataFrame
flattened_df_list = [pd.DataFrame([flatten_dict(d)]) for d in new_car_detail_dicts]

# Combine all the flattened DataFrames into a single DataFrame
flattened_df = pd.concat(flattened_df_list, ignore_index=True)

# Display the combined flattened DataFrame
#print(flattened_df)

Columns in the DataFrame: Index(['new_car_detail', 'new_car_overview', 'new_car_feature',
       'new_car_specs', 'car_links'],
      dtype='object')

In [ ]:
# new_car_specs column code

import pandas as pd
import json

# Load the CSV file
input_csv_file = 'bangalore_cars.csv'  # Replace with your input CSV file path
df = pd.read_csv(input_csv_file)

# Initialize a list to collect key-value pairs with an index reference
data_records = []

# Define the processing function for extracting key-value pairs with an index reference
def extract_key_value_pairs(json_data, index):
    try:
        # Convert JSON-like string into a dictionary
        data = json.loads(json_data.replace("'", "\""))

        # Create a dictionary to hold the values for this record
        record = {'index': index}
        
        # Extract 'top' section key-value pairs
        if 'top' in data:
            for item in data['top']:
                record[item['key']] = item['value']

        # Extract 'data' section key-value pairs
        if 'data' in data:
            for section in data['data']:
                for item in section['list']:
                    record[item['key']] = item['value']
        
        # Add the record to the list
        data_records.append(record)
    
    except (json.JSONDecodeError, KeyError) as e:
        print(f"Error processing JSON data at index {index}: {e}")

# Process only the 'new_car_specs' column
if 'new_car_specs' in df.columns:
    for index, row in df.iterrows():
        json_data = row['new_car_specs']
        if pd.notna(json_data):  # Check for NaN values
            extract_key_value_pairs(json_data, index)

# Create a DataFrame from the list of records
records_df = pd.DataFrame(data_records)

# Drop the 'index' column as it's not needed in the final output
records_df = records_df.drop(columns=['index'], errors='ignore')

# Save the DataFrame to a CSV file
output_csv_file = 'formatted_data.csv'  # Replace with your output CSV file path
records_df.to_csv(output_csv_file, index=False)

# Print the DataFrame to check the result
print("Formatted Data:")
print(records_df.head())

In [79]:
# Final code to split all keys and values as a separated columns

import pandas as pd
import ast
import json

# Load the CSV file into a DataFrame
df = pd.read_csv('kolkata_cars.csv')

# Display the columns to confirm their presence
print("Columns in the DataFrame:", df.columns)

# ---- Helper Functions ----

# Function to convert a string to a dictionary
def convert_to_dict(value):
    try:
        return ast.literal_eval(value)
    except (ValueError, SyntaxError):
        return {}

# Function to flatten a dictionary
def flatten_dict(d):
    flattened = {}
    for k, v in d.items():
        if isinstance(v, dict):
            for sub_k, sub_v in flatten_dict(v).items():
                flattened[f"{k}_{sub_k}"] = sub_v
        else:
            flattened[k] = v
    return flattened

# Function to extract and flatten the nested 'top' dictionary
def extract_flatten_dict(nested_dict):
    if 'top' in nested_dict:
        top_data = nested_dict['top']
        df = pd.DataFrame(top_data)
        df = df.drop(columns=['icon'], errors='ignore')
        return df.set_index('key').T
    else:
        return pd.DataFrame()

# Function to flatten the nested 'top' and 'data' sections
def flatten_nested_data(nested_dict):
    # Flatten 'top' section
    top_df = pd.DataFrame(nested_dict.get('top', []))
    
    # Flatten 'data' section
    data_list = nested_dict.get('data', [])
    data_df_list = []
    for category in data_list:
        category_df = pd.DataFrame(category.get('list', []))
        category_df['heading'] = category.get('heading')
        category_df['subHeading'] = category.get('subHeading')
        data_df_list.append(category_df)
    
    data_df = pd.concat(data_df_list, ignore_index=True) if data_df_list else pd.DataFrame()
    
    # Add commonIcon
    common_icon = nested_dict.get('commonIcon', None)
    if not top_df.empty:
        top_df['commonIcon'] = common_icon
    if not data_df.empty:
        data_df['commonIcon'] = common_icon

    return top_df, data_df

# ---- Process 'new_car_detail' Column ----

# Fetch the 'new_car_detail' column only
new_car_detail_column = df['new_car_detail']

# Apply conversion function to the 'new_car_detail' column
new_car_detail_dicts = new_car_detail_column.apply(convert_to_dict)

# Flatten each dictionary and convert to DataFrame
flattened_df_list = [pd.DataFrame([flatten_dict(d)]) for d in new_car_detail_dicts]
flattened_df = pd.concat(flattened_df_list, ignore_index=True)

# ---- Process 'new_car_overview' Column ----

# Convert the 'new_car_overview' column from string to nested dictionaries
df['new_car_overview'] = df['new_car_overview'].apply(lambda x: convert_to_dict(x))

# Extract and flatten the nested dictionaries
df_list = [extract_flatten_dict(d) for d in df['new_car_overview']]
df_combined = pd.concat(df_list, ignore_index=True)

# ---- Process 'new_car_feature' Column ----

# Convert the 'new_car_feature' column from string to nested dictionaries
df['new_car_feature'] = df['new_car_feature'].apply(lambda x: convert_to_dict(x))

# Apply the flattening function to each row and collect results
top_dfs_feature = []
data_dfs_feature = []

for _, row in df.iterrows():
    top_df_feature, data_df_feature = flatten_nested_data(row['new_car_feature'])
    top_dfs_feature.append(top_df_feature)
    data_dfs_feature.append(data_df_feature)

top_combined_feature = pd.concat(top_dfs_feature, ignore_index=True)
data_combined_feature = pd.concat(data_dfs_feature, ignore_index=True)

# ---- Process 'new_car_specs' Column ----

# Initialize a list to collect key-value pairs with an index reference
data_records = []

# Define the processing function for extracting key-value pairs with an index reference
def extract_key_value_pairs(json_data, index):
    try:
        # Convert JSON-like string into a dictionary
        data = json.loads(json_data.replace("'", "\""))

        # Create a dictionary to hold the values for this record
        record = {'index': index}
        
        # Extract 'top' section key-value pairs
        if 'top' in data:
            for item in data['top']:
                record[item['key']] = item['value']

        # Extract 'data' section key-value pairs
        if 'data' in data:
            for section in data['data']:
                for item in section['list']:
                    record[item['key']] = item['value']
        
        # Add the record to the list
        data_records.append(record)
    
    except (json.JSONDecodeError, KeyError) as e:
        print(f"Error processing JSON data at index {index}: {e}")

# Process only the 'new_car_specs' column
if 'new_car_specs' in df.columns:
    for index, row in df.iterrows():
        json_data = row['new_car_specs']
        if pd.notna(json_data):  # Check for NaN values
            extract_key_value_pairs(json_data, index)

# Create a DataFrame from the list of records
records_df = pd.DataFrame(data_records)

# Drop the 'index' column as it's not needed in the final output
records_df = records_df.drop(columns=['index'], errors='ignore')

# ---- Combine All DataFrames Horizontally ----

# Reset index for consistency
flattened_df.reset_index(drop=True, inplace=True)
df_combined.reset_index(drop=True, inplace=True)
top_combined_feature.reset_index(drop=True, inplace=True)
data_combined_feature.reset_index(drop=True, inplace=True)
records_df.reset_index(drop=True, inplace=True)

# Concatenate all DataFrames horizontally
max_len = max(len(flattened_df), len(df_combined), len(top_combined_feature), len(data_combined_feature), len(records_df))

# Ensure all DataFrames have the same number of rows by reindexing
flattened_df = flattened_df.reindex(range(max_len))
df_combined = df_combined.reindex(range(max_len))
top_combined_feature = top_combined_feature.reindex(range(max_len))
data_combined_feature = data_combined_feature.reindex(range(max_len))
records_df = records_df.reindex(range(max_len))

# Concatenate horizontally
final_df = pd.concat([flattened_df, df_combined, top_combined_feature, data_combined_feature, records_df], axis=1)

# Save the final DataFrame to a CSV file
final_df.to_csv('kolkata_cars_output.csv', index=False)

print("\nCombined DataFrames have been saved to 'kolkata_cars_output.csv'.")

Columns in the DataFrame: Index(['new_car_detail', 'new_car_overview', 'new_car_feature',
       'new_car_specs', 'car_links'],
      dtype='object')

Combined DataFrames have been saved to 'kolkata_cars_output.csv'.